%%% -*- mode: erlang -*-

%% Erlang compiler options
{erl_opts, [debug_info, fail_on_warning
           ]}.

%% EUnit options
{eunit_opts, [verbose]}.

%% Additional library directories to add to the code path
{lib_dirs, ["./lib"]}.

%% Require OTP version R13B04 or R14
{require_otp_vsn, "R13B04|R14"}.

%% Sub directories
{sub_dirs, ["lib/rebar"
            , "lib/edown"
            , "lib/eper"
            , "lib/meck"
            , "lib/proper"
            , "rel"
           ]}.

%% Depends
{deps_dir, "lib"}.
{deps, [{rebar, ".*", {git, "git://github.com/norton/rebar.git", {branch, "master"}}}
        , {edown, ".*", {git, "git://github.com/norton/edown.git", {branch, "master"}}}
        , {eper, ".*", {git, "git://github.com/norton/eper.git", {branch, "master"}}}
        , {meck, ".*", {git, "git://github.com/norton/meck.git", {branch, "master"}}}
        , {proper, ".*", {git, "git://github.com/norton/proper.git", {branch, "master"}}}
       ]}.
